
body
{
  color       : #333333;
  margin      : 0 auto 0 auto;
  width       : 80%;
  height      : 100%;
  font-size   : 16px;
  font-family : "Helvetica Neue Light","Helvetica Neue","Helvetica", sans-serif;
  font-weight : 300;
  line-height : 1.5em;
  overflow-x  : hidden;
}

div#header
{
  margin-bottom : 44px;
  margin-top    : 44px;
  height        : 45px;
  z-index       : 100;
}

div#header #navigation
{
  height : 45px;
}

div#header #navigation a
{
  color           : #000000;
  font-size       : 18px;
  font-weight     : bold;
  margin-left     : 12px;
  text-decoration : none;
  text-transform  : uppercase;
}


div#logo a
{
  float                      : left;
  font-size                  : 32px;
  font-weight                : bold;
  text-decoration            : none;
  color                      : #e82a37;
  height                     : 30px;
  position                   : relative;
  z-index                    : 100;
  transition-property        : color;
  transition-duration        : 0.5s;
  transition-timing-function : linear;
}

div#logo a:hover
{
  color : #f53088;
}


div#controls img#playpause
{
  cursor : pointer;
}

div#social
{
  list-style : none outside none;
  text-align : center;
  width      : 85%;
}

div#social li
{
  width   : 12%;
  height  : 64px;
  display : inline-block;
}

div#social li a
{
  color : #333333;
}

div#social li a:hover
{
  color : #be4040;
}

div.info
{
  color     : #aaaaaa;
  font-size : 14px;
}

h1
{
  font-size : 22px;
}

h2
{
  font-size : 18px;
}

a
{
  color                      : #be4040;
  text-decoration            : none;
  transition-property        : color;
  transition-duration        : 1.0s;
  transition-timing-function : ease;
}

a:hover
{
  color : #ff0000;
}


.recent-posts li
{
  list-style-type : none;
  font-size       : 24px;
  font-weight     : bold;
  color           : #aaaaaa;
}

.band
{
  height           : 5px;
  width            : 100%;
  background-color : #e82a37;
  position         : absolute;
  left             : 0;
  top              : 0;
}

hr
{
  margin        : 60px 0 7px 0;
  border-width  : 0;
  border-top    : solid 1px #eeeeee;
  border-bottom : solid 1px #ffffff;
}


#content ul
{
  padding-left : 0;
}


/* Generated with Clay, http://fvisser.nl/clay */