
body
{
  color       : rgb(51,51,51);
  margin      : 0px auto 0px auto;
  width       : 80%;
  height      : 100%;
  font-size   : 16px;
  font-family : "Helvetica Neue Light","Helvetica Neue","Helvetica", sans-serif;
  font-weight : 300;
  line-height : 1.5em;
  overflow-x  : hidden;
}

div#header
{
  margin-bottom : 44px;
  margin-top    : 44px;
  height        : 45px;
  z-index       : 100;
}

div#header #navigation
{
  height : 45px;
}

div#header #navigation a
{
  color           : rgb(0,0,0);
  font-size       : 18px;
  font-weight     : bold;
  margin-left     : 12px;
  text-decoration : none;
  text-transform  : uppercase;
}


div#logo a
{
  float                      : left;
  font-size                  : 32px;
  font-weight                : bold;
  text-decoration            : none;
  color                      : rgb(232,42,55);
  height                     : 30px;
  position                   : relative;
  z-index                    : 100;
  transition-property        : color;
  transition-duration        : 0.5s;
  transition-timing-function : linear;
}

div#logo a:hover
{
  color : rgb(245,48,136);
}

div#social
{
  list-style       : none outside none;
  text-align       : center;
  z-index          : 100;
  position         : absolute;
  bottom           : 35px;
  width            : 85%;
  height           : 100px;
  background-color : rgba(150,150,150,0.7812);
  background-image : url("../images/blood.png");
  border-radius    : 30px 150px 30px 150px;
}

div#social li
{
  width      : 20%;
  height     : 64px;
  display    : inline-block;
  margin-top : 15px;
}

div#social li a
{
  color : rgb(51,51,51);
}

div#social li a:hover
{
  color : rgb(190,64,64);
}

div.info
{
  color     : rgb(170,170,170);
  font-size : 14px;
}

h1
{
  font-size : 22px;
}

h2
{
  font-size : 18px;
}

a
{
  color                      : rgb(190,64,64);
  text-decoration            : none;
  transition-property        : color;
  transition-duration        : 1.0s;
  transition-timing-function : ease;
}

a:hover
{
  color : rgb(255,0,0);
}


.recent-posts li
{
  list-style-type : none;
  font-size       : 24px;
  font-weight     : bold;
  color           : rgb(170,170,170);
}

.band
{
  height           : 5px;
  width            : 100%;
  background-color : rgb(232,42,55);
  position         : absolute;
  left             : 0px;
  top              : 0px;
}

hr
{
  margin        : 60px 0px 7px 0px;
  border-width  : 0px;
  border-top    : solid 1px rgb(238,238,238);
  border-bottom : solid 1px rgb(255,255,255);
}


#content ul
{
  padding-left : 0px;
}


/* Generated with Clay, http://fvisser.nl/clay */