
body
{
  color       : rgb(51,51,51);
  margin      : 0px auto 0px auto;
  width       : 80%;
  font-size   : 16px;
  font-family : "Helvetica Neue Light","Helvetica Neue","Helvetica", sans-serif;
  font-weight : 300;
  line-height : 1.5em;
}

div#header
{
  margin-bottom : 44px;
  margin-top    : 44px;
  height        : 45px;
}

div#header #navigation
{
  height : 45px;
}

div#header #navigation a
{
  color           : rgb(0,0,0);
  font-size       : 18px;
  font-weight     : bold;
  margin-left     : 12px;
  text-decoration : none;
  text-transform  : uppercase;
}


div#logo a
{
  float                      : left;
  font-size                  : 32px;
  font-weight                : bold;
  text-decoration            : none;
  color                      : rgb(232,42,55);
  height                     : 30px;
  transition-property        : color;
  transition-duration        : 0.5s;
  transition-timing-function : linear;
}

div#logo a:hover
{
  color : rgb(245,48,136);
}

div#social
{
  list-style : none outside none;
  text-align : center;
}

div#social li
{
  width      : 64px;
  height     : 64px;
  display    : inline-block;
  font-size  : 96px;
  font-style : oblique;
}

div#social li a
{
  color                      : rgb(68,68,68);
  transition-property        : color;
  transition-duration        : 1.0s;
  transition-timing-function : ease;
}

div#social li a:hover
{
  color : rgb(245,48,136);
}

div.info
{
  color     : rgb(170,170,170);
  font-size : 14px;
}

h1
{
  font-size : 22px;
}

h2
{
  font-size : 18px;
}

a
{
  color                      : rgb(8,129,179);
  text-decoration            : none;
  transition-property        : color;
  transition-duration        : 1.0s;
  transition-timing-function : ease;
}

a:hover
{
  color : rgb(243,48,136);
}

a:visited
{
  color : rgb(8,129,179);
}


.recent-posts li
{
  list-style-type : none;
  font-size       : 20px;
  color           : rgb(170,170,170);
}

.band
{
  height           : 5px;
  width            : 100%;
  background-color : rgb(232,42,55);
  position         : absolute;
  left             : 0px;
  top              : 0px;
}

.twitter
{
  margin-left : auto;
  width       : 56px;
}

hr
{
  margin        : 60px 0px 7px 0px;
  border-width  : 0px;
  border-top    : solid 1px rgb(238,238,238);
  border-bottom : solid 1px rgb(255,255,255);
}


#content ul
{
  padding-left : 0px;
}


/* Generated with Clay, http://fvisser.nl/clay */