<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Heather - $title$</title>
        <meta name="description" content="Heather">
        <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div class="band"></div>
        <div id="header">
            <div id="logo">
                <a href="/">Mi Mi Mi</a>
            </div>
        </div>
        <div id="content">
            $body$
        </div>
        <div id="footer">
            2014
        </div>
    </body>
</html>
