<link rel="stylesheet" type="text/css" href="/clay/index.css" />

<canvas id="canvas">
</canvas>

<audio id="audio" autoplay loop>
    <source src="http://fp3.myzuka.ru/Download.aspx?lid=7819444&mid=21638457&date=20141028&sum=5eaab8326d0a5f01835b4d38a0c223bd&name=01_iggy_azalea_fancy_myzuka.ru.mp3&ic=False&cr=True&ex=.mp3&il=False&msl=100" type="audio/mp3" />
</audio>

<script type = "text/javascript">
  function displayNextImage() {
      x = (x === images.length - 1) ? 0 : x + 1;
      document.getElementById("img").src = images[x];
  }
  var images = [ "images/Hlogo.png"
               , "images/Zlogo.png"
               , "images/ZZlogo.png"
               , "images/Jlogo.png"
               , "images/Xlogo.png"
               ], x = -1;
  setInterval(displayNextImage, 1000);
</script>

<div id = "parent">
    <div id="top">
        <div class="mlr">
            <div class="mleft">
                <ul class="recent-posts">
                    $partial("templates/post-list.html")$
                </ul>
            </div>
            <div class="mright">
                <img id="img" src="/images/Zlogo.png"/>
            </div>
        </div>
    </div>
</div>

<script type="application/dart" src="/web/dartrix.dart"></script>
