<link rel="stylesheet" type="text/css" href="clay/index.css" />

<embed width="100%" height="100%"
    style="position: absolute;top: 0; left: 0;"
    src="http://www.youtube.com/embed/8tfRRwn0RRw?rel=0&start=461&end=569&color=black&controls=0&disablekb=1&loop=1&modestbranding=1&showinfo=0&autohide=1&iv_load_policy=3&rel=0&theme=dark&autoplay=1&playlist=8tfRRwn0RRw" allowfullscreen>

<div id="fof">
    <div>
        <img style="position: absolute;" src="/images/eyes.png"/>
    </div>
    <canvas id="canvas">
</div>
<div id = "parent">
    <div id="top">
        <div class="mlr">
            <div class="mleft">
                <ul class="recent-posts">
                    $partial("templates/post-list.html")$
                </ul>
            </div>
            <div class="mright">
                <img id="img" src="/images/Hlogo.png"/>
            </div>
        </div>
    </div>
</div>

<script src="js/eyes.js"></script>
