<link rel="stylesheet" type="text/css" href="css/index.css" />

<div id="fof">
    <div>
        <img style="position: absolute;" src="/images/eyes.png"/>
    </div>
    <canvas id="canvas">
</div>
<div id = "parent">
    <div id="top">
        <div class="mlr">
            <div class="mleft">
                <ul class="recent-posts">
                    $partial("templates/post-list.html")$
                </ul>
            </div>
            <div class="mright">
                <img id="img" src="/images/Hlogo.png"/>
            </div>
        </div>
    </div>
</div>

<div id="main" allowfullscreen>

<script src="js/youtube.js"></script>
<script src="js/eyes.js"></script>
